.row6__container {
    background-color: #fff;
    padding-bottom: 65px;
}

.row6__container-content {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row6__container-row {
    display: flex;
    /* flex-wrap: wrap; */
}

.row6__container-col12 {
    width: 100%;
}

.row6__container-col12 h2 {
    text-align: center;
    color: #262d36;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-top: 0px;
    padding-top: 60px;

}

.row6__container-col4 {
    flex-basis: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.row6__container-col4-child {
    background-color: #f7f7f7 !important;
    background: url("../../../public/assets/bgnhay.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.row6__container-col4-child p {
    padding: 10% 10% 0% 10%;
    min-height: 399px;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0px;
    text-align: left;
    color: #42474c;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
}

.row6__container-col4-bottom {
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: center;
}

.row6__container-col4-bottom img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.wrapper__founder-info {
    margin-left: 20px;
    text-align: left;
}

.founder-name {
    color: #42474c;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1.8px;
}

.founder-team {
    color: #42474c;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.64em;
}

@media (min-width: 1200px) {
    .row6__container-content {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row6__container-content {
        max-width: 960px;
    }

    .row6__container-col4-child p {
        min-height: 460px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .row6__container-content {
        max-width: 720px;
    }

    .row6__container-col4-child p {
        min-height: 660px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .row6__container-content {
        max-width: 540px;
    }

    .row6__container-col4-bottom {
        flex-direction: column;
    }

    .row6__container-col4-child p {
        min-height: 967px;
    }
}

@media (max-width: 575px) {
    .row6__container-content {
        max-width: 360px;
    }

    .row6__container-row {
        flex-wrap: wrap;
    }

    .row6__container-col4 {
        flex-basis: 100%;
        padding-bottom: 15px;
    }

    
    .row6__container-col4-child p {
        min-height: fit-content;
    }

    .row6__container-col12 h2 {
        font-size: 27px;
    }
}
