.row4__container {
    background-color: #f5f7f8;
    padding-bottom: 65px;
}

.row4__container-content {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row4__container-row {
    display: flex;
    flex-wrap: wrap;
}

.row4__container-col4 {
    flex-basis: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.row4__container-col4-child {
    background-color: #FFFFFF;
    padding: 10% 10% 10% 10%;
    text-align: left;
    min-height: 772px;
}

.row4__container-col4-child img {
    width : 100%;
}

.row4__container-col4-child h3 {
    font-style: normal;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #3b3d42;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.row4__container-col4-child p {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #3b3d42;
    margin-bottom: 10px;
}

.row4__container-col12 {
    width: 100%;
}

.row4__container-col12 h2 {
    text-align: center;
    color: #262d36;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-top: 60px;
}

@media (min-width: 1200px) {
    .row4__container-content {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row4__container-content {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .row4__container-content {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .row4__container-content {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .row4__container-content {
        max-width: 360px;
    }

    .row4__container-col12 h2 {
        font-size: 27px;
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .row4__container-col4 {
        flex-basis: 100%;
        padding-bottom: 15px;
    }

    .row4__container-col4-child {
        min-height: fit-content;
    }
}
