.row2__container {
    background-color: #fff !important;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Catamaran;
}

.row2__container-content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.row2__container-row {
    display: flex;
}

.row2__container-col4 {
    flex-basis: 33.333333%;
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}

.row2__container-col4 h2 {
    color: #15bcc5;
    font-family: "Poppins", Sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
    margin-top: 105px;
}

.row2__container-col4 h3 {
    color: #252b33;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    letter-spacing: 0px;
    padding-top: 20px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

.col4-left-div {
    background-color: #15bcc5;
    width: 124.9px;
    height: 5.46px;
    margin-bottom: 20px;
}

.row2__container-col4 p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", Sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #3b3d42;
    margin-bottom: 0;
    margin-top: 0;
}

.row2__container-col4 img {
    width: 100%;
}

@media (min-width: 1200px) {
    .row2__container-content {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row2__container-content {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .row2__container-content {
        max-width: 720px;
    }

    .trusted {
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .row2__container {
        margin-top: 0;
    }
    .row2__container-content {
        max-width: 540px;
    }

    .trusted {
        margin-bottom: 10px;
    }
}

@media (max-width: 575px){
    .row2__container {
        margin-top: 0;
    }

    .row2__container-content {
        max-width: 360px;
        margin-top: 0;
    }

    .row2__container-row {
        flex-direction: column;
    }

    .row2__container-col4 h2 {
        margin-top: 20px;
        font-size: 30px;
    }

    .trusted {
        margin-bottom: 10px;
    }
}