.row1__container {
    background-color: #15BCC5;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
}

.row1__container-content {
    /* margin-left: 88px;
    margin-right: 58px; */
    margin-left: auto;
    margin-right: auto;
}

.row1__container-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
}

.row1__container-left {
    flex-basis: 44%;
    text-align: left;
    padding-top: 80px;
}

.row1__container-left h1 {
    color: #fff;
    font-size: 40px;
    line-height: 1.2em;
    /* the space between characters in a text. */
    letter-spacing: 1.8px;
    font-weight: 800;
    font-family: poppins,Sans-serif;

}

.row1__container-left h2 {
    font-family: lato,Sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;

}

.row1__container-right {
    flex-basis: 53%;
    padding-right: 30px;
    padding-top: 80px;
}

.row1__container-right .header__form {
    background-color: #16abb3;
    border-bottom: 1px solid #ced4da;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto,sans-serif;
    line-height: 1.5;
    padding: 5px 5px;
}

.row1__container-right .wrapper__form {
    background-color: #fff;
    padding: 0 5% 20px 5%;
}

/* CSS col6 */
.row1__container-right .row1__form-content-col6 {
    display: flex;
    flex-wrap: wrap;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4px;
    max-width: 50%;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col label {
    text-align: left;
    color: #212529;
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;
    margin-bottom: 2px;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col label span{
    float: right;
    color: red;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col input[type="text"] {
    background-color: #ffffff;
    margin-bottom: 1.5px;
    padding: 6px 12px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ced4da;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col button[type="submit"] {
    font-family: "Muli", sans-serif;
    padding: 10px 15px;
    font-weight: 700;
    background-color: #16abb3;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    cursor: pointer;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col button[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col button[type="submit"]:active {
    background-color: #0062cc;
}

.row1__container-right .row1__form-content-col6 .row1__form-content-col6-col button[type="submit"]:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
    outline: 0;
}

/* CSS col12 */
.row1__container-right .row1__form-content-col12 .row1__form-content-col12-col {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    
}

.row1__container-right .row1__form-content-col12 .row1__form-content-col12-col input[type="checkbox"] {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

.row1__container-right .row1__form-content-col12 .row1__form-content-col12-col label {
    font-weight: 400;
    text-align: left;
}

.row1__container-right .row1__form-content-col12 .disclaimer {
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    text-align: left;
}

@media (min-width: 1200px) {
    .row1__container-content {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row1__container-content {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .row1__container-content {
        max-width: 720px;
    }

    .peusedo-col {
        flex-basis: 0% !important;
        display: none !important;
    }

    .md-col6 {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .row1__container-left h1 {
        font-size: 28px;
    }

    .row1__container-left h2 {
        font-size: 18px;
    }

    .header__form {
        font-size: 14px !important;
    }

    label {
        font-size: 11px !important;
    }

    .row1__form-content-col12 .disclaimer {
        font-size: 11px !important;
    }

    .row1__container-right .wrapper__form {
        padding: 0 1% 20px 1%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .row1__container-content {
        max-width: 540px;
    }

    .row1__form-content-col6-col {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .row1__container-left h1 {
        font-size: 28px;
    }

    .row1__container-left h2 {
        font-size: 18px;
    }

    .header__form {
        font-size: 14px !important;
    }

    label {
        font-size: 11px !important;
    }

    .row1__form-content-col12 .disclaimer {
        font-size: 11px !important;
    }

    .row1__container-right .wrapper__form {
        padding: 0 1% 20px 1%;
    }
}

@media (max-width: 575px){
    .row1__container {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
    }

    .row1__container-content {
        padding-bottom: 57px;
        max-width: 360px;
    }

    .row1__container-row {
        flex-direction: column;
        padding: 0 15px;
    }

    .row1__container-left {
        padding-top: 30px;
    }

    .row1__container-left h1 {
        font-size: 25px;
    }

    .row1__container-left h2 {
        font-size: 14px;
    }

    .row1__container-right {
        padding-top: 0;
    }

    .row1__form-content-col6-col {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
    
    .header__form {
        font-size: 14px !important;
    }

    label {
        font-size: 11px !important;
    }

    .row1__form-content-col12 .disclaimer {
        font-size: 11px !important;
    }

    .row1__container-right {
        padding-right: 0;
    }

    .row1__container-right .wrapper__form {
        padding: 0 1% 20px 1%;
    }
}