.row5__container {
    background-color: #444c5c;
    color: #fff;
}

.row5__container-content {
    /* max-width: 1402px; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.row5__container-row {
    display: flex;
    flex-wrap: wrap;
}

.row5__container-colcus-left {
    flex-basis: 66.666667%;
    display: flex;
    justify-content: space-between;
}

.row5__container-colcus-right {
    flex-basis: 33.333333%;
}

.row5__container-colcus-child {
    padding-left: 30px;

}

.row5__container-colcus-child h2{
    padding-top: 28px;
    text-align: left;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0px;
}

.row5__container-colcus-child p{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;
}

.wrapper__img {
    padding: 5px;
}

.wrapper__img img {
    width: 100%;
    height: 100%;
}

.row5__colcus-child-btn {
    margin-top: 30px;
}

.btn-explore {
    font-family: "Muli", sans-serif;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    background-color: #f88379;
    width: fit-content;

}

.btn-explore:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

@media (min-width: 1200px) {
    .row5__container-content {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row5__container-content {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .row5__container-content {
        max-width: 720px;
    }

    .row5__container-colcus-left {
        flex-basis: 100%;
    }

    .row5__container-colcus-right {
        flex-basis: 100%;
    }

    .row5__container-colcus-child h2{
        text-align: center;
        
    }
    
    .row5__container-colcus-child p{
        text-align: center;
    }

    .btn-explore {
        margin: auto;
    
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .row5__container-content {
        max-width: 540px;
    }

    .row5__container-colcus-left {
        flex-basis: 100%;
    }

    .row5__container-colcus-right {
        flex-basis: 100%;
    }

    .row5__container-colcus-child h2{
        text-align: center;
        font-size: 28px;
        
    }
    
    .row5__container-colcus-child p{
        text-align: center;
    }

    .btn-explore {
        margin: auto;
        font-size: 15px;
    }
}

@media (max-width: 575px) {

    .row5__container-content {
        max-width: 360px;
    }

    .row5__container-colcus-left {
        flex-basis: 100%;
    }

    .row5__container-colcus-right {
        flex-basis: 100%;
    }

    .row5__container-colcus-child h2{
        text-align: center;
        font-size: 28px;
        
    }
    
    .row5__container-colcus-child p{
        text-align: center;
    }

    .btn-explore {
        margin: auto;
        font-size: 15px;
    }

    .row5__container-colcus-child {
        padding: 0 15px;
    }

    .row5__container-colcus-left {
        flex-direction: column;
    }
}