.row7__container {
    background-image: url("../../../public/assets/bg1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-bottom: 50px;
}

.row7__container-content {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row7__container-col12 h2 {
    margin-top: 0;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    text-align: left;
    color: #3b3d42;
    padding-top: 45px;
}

.row7__container-col6 {
    width: 50%;
    padding-left: 15px;
}

.row7__container-col6 p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    color: #3b3d42;
    font-style: normal;
    font-weight: 300;
    padding: 15px 0px;
    margin-bottom: 0;
    margin-top: 0;
}

.wrapper-col6 {
    position: relative;
    margin-left: 15px;
}

.vertical-line {
    position: absolute;
    width: 1px;
    background-color: #ccc;
    top: 25px;
    bottom: 50px;
    margin-left: -15px;
}

.wrapper-col6 p {
    position: relative;
}

.wrapper-col6 p::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 20px;
    background-color: #15bcc5;
    position: absolute;
    margin-left: -20px;
    top: 23px;
}

@media (max-width: 575px) {
    .row7__container-col6 {
        width: 100%;
        padding-right: 15px;
    }

    .row7__container-col12 h2 {
        font-size: 30px;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}