#header {
    background-color: #15bcc5;
}

.header__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.header__container__logo {
    padding-top: 4px;
}
.header__container__logo .logo__img {
    width: 114px;
}

.header__container__right ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.header__container__right li {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: poppins,sans-serif;
    font-weight: 500;
    padding-right: 30px;
}

.header__container__right li a {
    text-decoration: none;
    color: #fff;
}

.header__container__right li i {
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .header__container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header__container {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .header__container {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .header__container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .header__container {
        flex-direction: column;
    }

    .header__container__right ul {
        flex-direction: column;
        /* justify-content:space-between; */
        padding-top: .3125rem;
        padding-bottom: .3125rem;
    }

    .header__container__right ul li:first-child {
        display: none;
    }

    .header__container__right ul li {
        padding-top: .3125rem;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .header__container__right ul li i{
        display: none;
    }
}