#footer {
    background-color: #444c5c;
}

.footer__container {
    max-width: 1192px;
    margin-left: auto;
    margin-right: auto;
}

.footer__container-row {
    display: flex;
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer__container-col3 {
    flex-basis: 25%;
}

.logo-group {
    float: left;
}

.col3-title {
    color: #969da1;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 3.68px;
    text-align: left;
}

.col3-wrap {
    margin-top: 30px;
    font-size: 16px;
}

.col3-content {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
}


.col3-content span:nth-child(2):hover {
    color: #15bcc5;
    cursor: pointer;
}

.head-content {
    color: #15bcc5;
    font-size: 16px;
    font-family: "Lato",Sans-serif;
    font-weight: 700;
    margin-right: 3px;
}

.col3-copyright {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.col3-social {
    color: #969da1;
    text-align: left;
    margin-bottom: 16px;
}

.col3-social span {
    padding: 8px;
    padding-left: 0;
    margin-right: 13px;
    cursor: pointer;
}

.col3-social span:hover {
    color: #15bcc5;
}

.footer__container-row-footer {
    margin-top: 30px;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0px;
    text-align: left;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(255, 255, 255, 0.1);
    /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
    padding-top: 20px;
    padding-bottom: 10px;
}



@media (min-width: 1200px) {
    .footer__container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer__container {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .footer__container {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .footer__container {
        max-width: 540px;
    }

    .footer__container-row {
        flex-direction: column;
    }
}

@media (max-width: 575px){
    
    .footer__container {
        max-width: 360px;
    }

    .footer__container-row {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }

    .logo-group {
        float: none;
    }

    .footer__container-row-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col3-title {
        margin-top: 15px;
    }

    .col3-wrap {
        margin-top: 10px;
    }
}