.row8__container {
    background-color: #f9fafb;
    padding: 50px 0px 48px 0px;
}

.row8__container-content {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row8__container-row {
    display: flex;
}

.row8__container-col12 {
    width: 100%;
}

.row8__container-col12 h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    color: #3b3d42;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2
}

.row8__container-col12 h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #3b3d42;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    padding-bottom: 30px;
}

.row8__container-col6 {
    flex-basis: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.question-col6 {
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #e8e8f6;
}
.question-wrap {
    display: flex;
    padding: 15px;
    cursor: pointer;
    
}

.question-wrap img {
    display: block;
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
    margin-top: 6px;
    margin-right: 6px;
}

.question-wrap h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.ans {
    max-height: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0px;
    text-align: left;
    color: #3b3d42;
    overflow: hidden;
    transition: all 0.35s ease-out;
    margin-bottom: 0;
}

.ans-active {
    max-height: 500px;
    padding: 0 30px 30px 30px;
    transition: all 0.35s ease-out;
}

.row8__container-col12 {
    width: 100%;
}

.btn-build {
    font-family: "Muli", sans-serif;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    background-color: #f88379;
    width: fit-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.btn-build:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

@media (max-width: 575px) {
    .row8__container-row {
        flex-direction: column;
    }
}

