.row3__container {
    background-color: #444c5c;
    color: #fff;
    padding-top: 36px;
    padding-bottom: 36px;
}

.row3__container-content {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row3__container-col12 {
    padding-right: 15px;
    padding-left: 15px;
}

.row3__container-col12 h2 {
    text-align: center;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.row3__container-col12 p {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.row3__container-col12 .btn-content {
    font-family: "Muli", sans-serif;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    background-color: #f88379;
    width: fit-content;
    margin: auto;
}

.row3__container-col12 .btn-content:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

@media (min-width: 1200px) {
    .row3__container-content {
        max-width: 1140px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row3__container-content {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .row3__container-content {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .row3__container-content {
        max-width: 540px;
    }
}